html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	background-color: #000000;
	background-image: url('/images/bg_img.png');
	background-attachment: fixed;
	margin: auto;
	width: 100%;
	max-width:1080px;
	color: white;
}

p {
  font-family: "Noto Sans";
  font-size: 13pt;
  font-style: normal;
  word-break: break-word;
}

a {
	color: #FFFFFF;
	/*transition: color 0.15s;*/
}
/*
:visited {
	color: #2CABB2;
}

a:hover {
	color: #9CD64A;
}
*/
em {
	font-family:"Nunito", sans-serif;
	font-weight: 200;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: "Alegreya";
}

h2 {
	font-family: "Alegreya";
	font-optical-sizing: auto;
	font-weight:200;
	font-style: normal;
}

.pageBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1080px;
	min-height:100vh;
	box-shadow: 0px 0px 30px 0px black;
}

.pageBoxSidebar {
	flex: 0 0 25%;
	max-width:25%;
	background-color: #454545;
	background-image: url('/images/bg_sidebar.png');
	background-position: top;
	background-size: 100%;
}

.pageBoxSidebar > p {
	text-align: center;
}

.pageBoxSidebar > h2 {
	text-align: right;
	margin: 10px;
}

.pageBoxSidebar > div.postDate {
	text-align: right;
	color:#BBBBBB;
	font-style: italic;
	margin-top: 0;
	margin-right: 25px;
}

.pageBoxMainbar {
	flex: 0 0 75%;
	background-color: #323232;
	max-width: 75%;
	/*background-image: url('/images/bg_main.png');*/
	background-repeat: repeat-y;
	background-size: 75px;
}

.pageBoxMainbar > h2 {
	padding-left: 2%;
}

.pageBoxMainbar > p {
	margin-left: 5%;
	margin-right: 5%;
	line-height: 1.25;
	word-wrap: break-word;
}